/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .section-1 {
    display: block;
  }
  .section-11 {
    display: block;
  }
  .section-12 {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .section-1 {
    display: block;
  }
  .section-11 {
    display: block;
  }
  .section-12 {
    display: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .section-1 {
    width: 768px;
    height: 450px;
  }
  .section-11 {
    width: 768px;
    height: 450px;
  }
  .section-12 {
    display: none;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .section-1,
  .section-11 {
    width: 992px;
    height: 550px;
  }
  .section-12 {
    display: none;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .section-1 {
    width: 1208px;
    height: 593px;
  }
  .section-11 {
    width: 1208px;
    height: 593px;
  }
  .section-12 {
    display: block;
  }
}

@font-face {
  font-family: Poppins;
  src: url("../font/Poppins-Regular.ttf");
}

@font-face {
  font-family: 'icomoon';
  src:  url('../font/icomoon.eot?klj74w');
  src:  url('../font/icomoon.eot?klj74w#iefix') format('embedded-opentype'),
    url('../font/icomoon.ttf?klj74w') format('truetype'),
    url('../font/icomoon.woff?klj74w') format('woff'),
    url('../font/icomoon.svg?klj74w#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-x:before {
  content: "\e900";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-linkedin2:before {
  content: "\eaca";
}
/*********body**********/
body{
  margin: 0!important;
  width: 100vw;
}



/*********body**********/

/*********section: navbar**********/
.container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  max-width: 1208px;
  --bs-gutter-x: 0rem;
}
.navbar-line {
  border-bottom: 1px solid #eaeaea;
  width: 1208px;
  height: 86px;
}
.navbar-brand img {
  width: 201px;
  height: 72px;
  margin: 0 97px 0 0;
}
.container-fluid {
  --bs-gutter-x: 0rem;
}
.nav-link {
  padding: 37px 35px 40px 0;
}
.nav-item {
  padding: 0 35px 0 0;
}
.navbar-btn {
  border-radius: 50px;
}
/*********section: navbar**********/





/*********section-1**********/
.section-1 {
  background-image: url("../image/Rectangle2803.png");
  margin-top: 135px;
  width: 100%;
  background-size: cover;
  color: white;
  font-family: Poppins;
  font-size: 14px;
}
.section-11 {
  margin-top: 135px;
  width: 100%;
  background-image: linear-gradient(
    to right,
    rgba(5, 3, 17, 0.44) 2%,
    rgba(4, 3, 17, 0.66) 52%,
    rgba(4, 3, 17, 0.46) 100%
  );
  position: relative;
  z-index: 5;
}
.section-12 {
  width: 100%;
  position: relative;
  bottom: 300px;
}

.img-1 {
  position: relative;
  bottom: 445px;
  left: 1060px;
  z-index: 9;
}
.img-2 {
  position: relative;
  top: 182px;
  right: 390px;
  z-index: 9;
}
.img-3 {
  position: relative;
  bottom: 370px;
  left: 438px;
  z-index: 10;
}
.img-4 {
  position: relative;
  top: 105px;
  right: 810px;
  z-index: 10;
}

.video-box {
  width: 68px;
  height: 68px;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 10;
  border-radius: 50px;
  right: 70px;
}

.play {
  font-size: 63px;
  position: relative;
  bottom: 50px;
  left: 7px;
  z-index: 11;
}
.video-box p {
  font-size: 20px;
  text-align: left;
  color: #fff;
  position: relative;
  bottom: 120px;
  left: 100px;
  z-index: 11;
}
/*********section-1**********/
/*********section-2**********/

.section-2{
margin-top: 87px;
text-align: center;
}
/*********section-2**********/
/*********section: contact us**********/


/*********section: contact us**********/




