 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .section-1 {display:block;}
    .section-11 {display:block;}
    .section-12 {display:none;}
  }
  
   /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .section-1 {display:block;}
    .section-11 {display:block;}
    .section-12 {display:none;}
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .section-1 {width: 768px; height: 450px;}
    .section-11  {width: 768px; height: 450px;}
    .section-12 {display:none;}
  }  
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .section-1, .section-11{width: 992px; height: 550px;}
    .section-12 {display:none;}

  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .section-1 {width: 1208px; height: 593px;}
    .section-11 {width: 1208px; height: 593px;}
    .section-12 {display:block;}
  } 
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1208px;
    --bs-gutter-x:0rem;
}
.navbar-line{
    border-bottom: 1px solid #eaeaea;
    width: 1208px;
    height: 86px; 
}
.navbar-brand img{
    width: 201px;
    height: 72px;
    margin: 0 97px 0 0;
}
.container-fluid{
    --bs-gutter-x: 0rem;
}
.nav-link{
    padding:37px 35px 40px 0;
}
.nav-item{
    padding:0 35px 0 0;
}
.navbar-btn{
    border-radius: 50px;
}
/*********section-1**********/
.section-1{
 background-image: url('../image/Rectangle2803.png');
  margin-top:135px;
  width:100%;
  background-size: cover;
  color: white;
  font-family: Poppins;
  font-size: 14px;
} 
 .section-11{
    margin-top:135px;
    width: 100%;
    background-image: linear-gradient(to right, rgba(5, 3, 17, 0.44) 2%, rgba(4, 3, 17, 0.66) 52%, rgba(4, 3, 17, 0.46) 100%);
    position: relative;
    z-index: 5;
  } 
/* .img-1{
    position: relative;
    bottom:220px;
    left:1060px;
}
.img-2{
    position: relative;
    top:410px;
    right:400px;
}

.img-3{
    position: relative;
    bottom:150px;
    left:430px;
}
.img-4{
    position: relative;
    top:330px;
    right:810px;
} */
/*********section-1**********/