.container-box{
    width: 1208px;
    margin:0 148px;
}
.navbar-line{
    border-bottom: 1px solid #eaeaea;
    width: 1208px;
    height: 86px;
}
.navbar-brand img{
    width: 201px;
    height: 72px;
    margin: 0 97px 0 0;
}
.container-fluid{
    --bs-gutter-x: 0rem;
}
.nav-link{
    padding:37px 35px 40px 0;
}
.nav-item{
    padding:0 35px 0 0;
}
.navbar-btn{
    border-radius: 50px;
}